cmd/rosetta/rosetta
cmd/rosetta/logs/**

tests/localnet/testnet/**
tests/localnet/snippets/node_modules/**
tests/localnet/snippets/package-lock.json
tests/localnet/snippets/**/*.session.sqlite
tests/localnet/snippets/out

**/check-data/**
**/__pycache__/**
